* {
    margin: 0;
    padding: 0;
}

.header_section {
    height: 70px;
    background-color: rgb(93, 93, 104);
    margin-bottom: 30px;
}

.containe {
    padding: 0px 50px;
}

.header_section_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-bars {
    display: grid;
    grid-template-rows: 3;
    height: 50px;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

.nav-bars span {
    background-color: #000;
    height: 5px;
    border: 1px solid gray;
}

/* nav bar*/

.nav_bar button {
    padding: 5px;
    background-color: chocolate;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.nav_bar button:hover {
    background-color: orange;
    color: black;
}

.nav_bar_link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
}


/* foooter section */
.footer_section {
    background-color: lightgray;
    height: 200px;
    margin-top: 50px;

    .containe {}
}
